# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Metadata generada por pip al instalar el paquete en modo editable (pip install -e .)
*.egg-info/